@import "tooltip.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    font-family: "Satoshi-Regular", sans-serif !important;
}

@layer base {

    @font-face {
        font-family: 'Satoshi-Variable';
        src: url('../font/satoshi/Satoshi-Variable.woff2') format('woff2'),
        url('../font/satoshi/Satoshi-Variable.woff') format('woff'),
        url('../font/satoshi/Satoshi-Variable.ttf') format('truetype');
        font-weight: 300 900;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'Satoshi-VariableItalic';
        src: url('../font/satoshi/Satoshi-VariableItalic.woff2') format('woff2'),
        url('../font/satoshi/Satoshi-VariableItalic.woff') format('woff'),
        url('../font/satoshi/Satoshi-VariableItalic.ttf') format('truetype');
        font-weight: 300 900;
        font-display: swap;
        font-style: italic;
    }

    @font-face {
        font-family: 'Satoshi-Light';
        src: url('../font/satoshi/Satoshi-Light.woff2') format('woff2'),
        url('../font/satoshi/Satoshi-Light.woff') format('woff'),
        url('../font/satoshi/Satoshi-Light.ttf') format('truetype');
        font-weight: 300;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'Satoshi-LightItalic';
        src: url('../font/satoshi/Satoshi-LightItalic.woff2') format('woff2'),
        url('../font/satoshi/Satoshi-LightItalic.woff') format('woff'),
        url('../font/satoshi/Satoshi-LightItalic.ttf') format('truetype');
        font-weight: 300;
        font-display: swap;
        font-style: italic;
    }

    @font-face {
        font-family: 'Satoshi-Regular';
        src: url('../font/satoshi/Satoshi-Regular.woff2') format('woff2'),
        url('../font/satoshi/Satoshi-Regular.woff') format('woff'),
        url('../font/satoshi/Satoshi-Regular.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'Satoshi-Italic';
        src: url('../font/satoshi/Satoshi-Italic.woff2') format('woff2'),
        url('../font/satoshi/Satoshi-Italic.woff') format('woff'),
        url('../font/satoshi/Satoshi-Italic.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
        font-style: italic;
    }

    @font-face {
        font-family: 'Satoshi-Medium';
        src: url('../font/satoshi/Satoshi-Medium.woff2') format('woff2'),
        url('../font/satoshi/Satoshi-Medium.woff') format('woff'),
        url('../font/satoshi/Satoshi-Medium.ttf') format('truetype');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'Satoshi-MediumItalic';
        src: url('../font/satoshi/Satoshi-MediumItalic.woff2') format('woff2'),
        url('../font/satoshi/Satoshi-MediumItalic.woff') format('woff'),
        url('../font/satoshi/Satoshi-MediumItalic.ttf') format('truetype');
        font-weight: 500;
        font-display: swap;
        font-style: italic;
    }

    @font-face {
        font-family: 'Satoshi-Bold';
        src: url('../font/satoshi/Satoshi-Bold.woff2') format('woff2'),
        url('../font/satoshi/Satoshi-Bold.woff') format('woff'),
        url('../font/satoshi/Satoshi-Bold.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'Satoshi-BoldItalic';
        src: url('../font/satoshi/Satoshi-BoldItalic.woff2') format('woff2'),
        url('../font/satoshi/Satoshi-BoldItalic.woff') format('woff'),
        url('../font/satoshi/Satoshi-BoldItalic.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
        font-style: italic;
    }

    @font-face {
        font-family: 'Satoshi-Black';
        src: url('../font/satoshi/Satoshi-Black.woff2') format('woff2'),
        url('../font/satoshi/Satoshi-Black.woff') format('woff'),
        url('../font/satoshi/Satoshi-Black.ttf') format('truetype');
        font-weight: 900;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'Satoshi-BlackItalic';
        src: url('../font/satoshi/Satoshi-BlackItalic.woff2') format('woff2'),
        url('../font/satoshi/Satoshi-BlackItalic.woff') format('woff'),
        url('../font/satoshi/Satoshi-BlackItalic.ttf') format('truetype');
        font-weight: 900;
        font-display: swap;
        font-style: italic;
    }

}

.triangule {
    @apply before:bg-black before:[clip-path:polygon(50%_0,0_100%,100%_100%)] before:absolute before:bottom-full  before:w-3 before:h-[4px]
}
